<div class="add-vertical-spacing"></div>
<div class="container">
  <div class="row">
    <form>
      <div class="form-group has-feedback">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" aria-hidden="true">Product Search</span>
          <input type=text class="form-control" placeholder="Search for a product">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void;">Product name: A to Z</a></li>
              <li><a href="javascript:void;">Price: lowest to highest</a></li>
              <li><a href="javascript:void;">Price: highest to lowest</a></li>
            </ul>
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
